:root {
  --primary-color:rgba($color: #05152c, $alpha: 1.0);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

  .navbar {
    height: 4rem;
    width: 87%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    padding:10px;
    align-items: center;
}
.HRMS {
  height: 4rem;
  display: flex;
  align-items: center;
}

.HRMS h2 {
  padding-left: 20px;
}

.sidebar {
  width: 13%;
  background-color: #05152c;
  color: white;
}

.sidebar-list {
  list-style-type: none;
  padding: 0;
}

.sidebar-list li div {
  padding: 15px 5px;
  border-bottom: 0.5px solid gray;
  display: flex;
  align-items: center;
}

.sidebar-list li div:hover {
  background-color: white;
  color: #072760;
}

.nested-list {
  list-style: url("https://www.flaticon.com/free-icon/right-arrow_271228");
  color: rgba($color: #072760, $alpha: 1.0);
}   

.nested-list li{
  width: 100%;
  border-bottom: 0.5px solid gray;
}

.nested-list li a {
  text-decoration: none;
  color: white;
  padding: 10px 5px;
  width: 100%;
  display: block;
}

.nested-list li a:hover {
  background-color: white;
  color: #072760;
}

.nested-list li:hover div .sidebar-icon {
  filter: invert(0);
}

.Profile, .Employees {
  background-color: white;
  color: #072760;
}

.active div {
  background-color: white;
  color: #072760;
}

.active div .sidebar-icon {
  filter: invert(0);
}

.sidebar-icon {
  filter: invert(1);
  margin-right: 5px;
}
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    margin-bottom: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }