:root {
  --primary-color:rgba($color: #05152c, $alpha: 1.0);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.login_background {
    background-color: #05152c;
    height: 100vh;
    width: 100%;
    margin: auto;
  }
  .login_heading{
    color: white;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login_form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 85vh;
  }
  .login_img{
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      height: 80%;
      width: 80%;
    }
  }
  .login_form_input{
    background-color: white;
    height: 70vh;
    width: 70%;
    position: relative;
    left: 18%;
    top: 10%;
    border-radius: 20px;
    h3{
      font-size: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10vh;
    }
    .login_form_inputs{
      display: flex;
      flex-direction: column;
      margin: 30px;
      input{
        margin-top: 5px;
        padding: 10px;
      }
      button{
        font-size: 20px;
        padding: 10px 0;
      }
      .for_password{
        position: relative;
        left: 70%;
        font-size: 15px;
        margin-top: 5px;
      }
    }
  }
  .navbar {
    height: 4rem;
    width: 87%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    padding:10px;
    align-items: center;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.HRMS {
  height: 4rem;
  display: flex;
  align-items: center;
}

.HRMS h2 {
  padding-left: 20px;
}

.sidebar {
  width: 13%;
  background-color: #05152c;
  color: white;
}

.sidebar-list {
  list-style-type: none;
  padding: 0;
}

.sidebar-list li div {
  padding: 15px 5px;
  border-bottom: 0.5px solid gray;
  display: flex;
  align-items: center;
}

.sidebar-list li div:hover {
  background-color: white;
  color: #072760;
}

.nested-list {
  list-style: url("https://www.flaticon.com/free-icon/right-arrow_271228");
  // padding: 0 0 0 ;
  color: rgba($color: #072760, $alpha: 1.0);
}   

.nested-list li{
  width: 100%;
  border-bottom: 0.5px solid gray;
}

.nested-list li a {
  text-decoration: none;
  color: white;
  padding: 10px 5px;
  width: 100%;
  display: block;
}

.nested-list li a:hover {
  background-color: white;
  color: #072760;
}

.nested-list li:hover div .sidebar-icon {
  filter: invert(0);
}

.Profile, .Employees {
  background-color: white;
  color: #072760;
}

.active div {
  background-color: white;
  color: #072760;
}

.active div .sidebar-icon {
  filter: invert(0);
}

.sidebar-icon {
  filter: invert(1);
  margin-right: 5px;
}
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    margin-bottom: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }

  .employee-list-table {
    width: 100%;
  }

table {
  margin-top: 30px;
}  

th {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
}

.head-column1 {
  border-left: 2px solid black;
}

td {
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
}
.column1 {
  border-left: 1px solid gray;
}
tr {
  height: 40px;
  }

tr:hover{
  background-color: #468bbd;
}

td input {
  background-color: transparent;
  border: none;
  height: 40px;
  width: 100%;
  padding-left: 5px;
}

td input:focus {
  border: none;
}

td button {
  border: none;
  background: transparent;
  padding: 5px;
}

.epm-table-row {
  padding: 5px 0px ;
}

.employee-list-table tbody tr td {
    // padding-left: 5px;
    text-align: center;
  }


//ADD EMPLOYEE

.Add-emp-container {
  margin: auto;
  margin-top: 30px;
  width: max-content;
}

.add-employee {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 20px;
}



.add-employee div {
  margin-bottom: 20px;
}

.add-employee div label {
  display: flex;
  width: 200px;
  margin-bottom: 5px;
}

.add-employee div input {
  padding: 5px;
  width: 100%;
}

.btn {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.btn-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.btn-4:focus {
  outline: 1px transparent;
}

// Current Project

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 20px;
  margin-top: 30px;
  place-items: center;
  padding: 0px 100px;
}

.addProject {
  height: 300px;
  width: 300px;
  border: 1px solid #05152c;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 100ms ease-in-out;
}

.addProject:hover {
  transform: scale(1.02);
  background-color: whitesmoke;
}

.AddProjectForm div {
  margin-bottom: 20px;
}

.AddProjectForm div label {
  display: flex;
  width: 200px;
  margin-bottom: 5px;
}

.AddProjectForm div input {
  padding: 5px;
  width: 100%;
}

.AddProjectForm textarea {
  padding: 5px;
  width: 100%;
}

.add-employee h1 {
  text-align: center;
}

.project-card {
  height: 300px;
  width: 300px;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.project-card p {
  margin-top: 10px;
}

.AddProjectForm {

  border: 1px solid gray;
border-radius: 10px;
padding: 20px;
width: 400px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
margin-top: 20px;
border: none;
  box-shadow: none;
  width: 100%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-main {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  height: 400px;
  text-align: center;
  margin: auto;
  margin-top: 100px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}